[Desktop Entry]
Name=OneVolume
Comment=Set the volume once
Exec=onevolume
Icon=com.onevolume.OneVolume
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
